.picture {
  width: 100%;
  height:auto;
  display: flex;
  flex-direction: column;
  background-size: cover;
}
#headline {
  font-size: 40px;
}
img#profile {
  width: 30%;
  border: 0;
  margin-left: 60%;
  margin-bottom: 60%;
  margin-top: 4%;
}

#aboutheadline {
  font-size: 20px;
  left: 15%;
  top: 5%;
  position: absolute;
}
.abouttext {
  position: absolute;
  left: 15%;
  padding-top: 61px;
  top: 10%;
  width: 40%;
  font-family: 'Vollkorn', serif;
}
.about-text {
  width: 400px;
  margin-left: 50vw;
  margin-top: -16vw;
}

@media (max-width: 700px) {
  .about-text {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }
  .abouttext {
    left: 6%;
    top: 22%;
    line-height: 1.4em;
    width: 47%;
  }
  #aboutheadline {
    font-size: 23px;
    left: 6%;
    width: 42%;
    top: 7%;
  }
  img#profile {
    width: 39%;
    margin-left: 53%;;
    margin-top: 7%;
    margin-bottom: 142%;
  }
}
