.footer {
  width: 100%;
  background: #2e2b2b;
  color: #e9e0e0;
  display: flex;
  justify-content: space-around;
  padding: 20px 0px 20px 0px;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    height: 200px;
    text-align: center;
  }
}
